@import './vars.scss';
@import './mix-ins.scss';

.header{
  border-bottom: 1px solid #666;
  width: 100%;
  height: 1%;
  background-color: #aaa;
  z-index: 5;

  h1{
    color: $h1Color;
  }
}//end header